@{

    ViewData["Title"] = "About US";

}

<h1>@ViewData["Title"]</h1>



<p>Our Website is home to a multitude of leading brands for apparels, jewellery and footwear to the needs of the entire family. We aspire to provide our customers a memorable shopping experience across India.</p>
